.content {
    display: flex;
}

#left-sidebar-container {
    width: 20vw;
}

.project-intro {
    display: flex;
    align-items: center;
    padding: 0.2rem 1rem;
    color: white;
}

.project-intro p {
    margin: 0 0.2rem;
    padding: 0;
}

.project-intro:hover {
    background-color: #181c1f;
    border-radius: 8px;
    cursor: pointer;
}

.active-project-intro {
    background-color: #2a3236;
    border-radius: 8px;
}

.class-list {
    display: flex;
    align-items: center;
    padding: 0.2rem 1rem;
    color: white;
}

.class-list p {
    margin: 0 0.2rem;
    padding: 0;
}

.class-list-icon {
    padding: 0.5rem;
}

.class-list-arrow {
    margin-left: auto
}

.class-list:hover {
    background-color: #181c1f;
    border-radius: 8px;
    text-decoration: none;
}

.class-list-subreddit {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 0.5rem 0 0.5rem 1rem;
    color: white;
}

.class-list-subreddit:hover {
    text-decoration: none;
    background-color: #181c1f;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
}

.active-class-list-subreddit {
    background-color: #2a3236;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.main{
    width: 80vw;
    padding: 1rem 5rem;
}  